

/*Used to have a background image
Now it breaks if I take these off*/
html { 
    height: 100%;
    margin:0px;
    /*background: url(../images/water.jpg) no-repeat center center;*/
    background-size: cover;
    background-attachment: fixed;
}

#wrap {
	position:relative;
	height:100px;
	width:100%;
}

/*Black top header*/

#topBlack {
	position:absolute;
	height:30px;
	width:100%;
	background-color:#1E1E1E;
	
}

#name {
	margin-left:70px;
	width:100px;
	height:40px;
}

#mail {
	position:relative;
	left:200px;
	top:-4px;
	display: inline;
	height:20px;
	width:20px;
}

#email {
	color:white;
	position: relative;
	display:inline-block;
	left:207px;
	top:-8px;
}

.rIcons {
	margin-top:6px;
	display:inline;
	float:right;
	height:20px;
	width:20px;
	margin-right:20px;
}

/*White header*/

#topWhite {
	top: 30px;
	position:relative;
	height: 70px;
	width: 100%;
	background-color:#EEEEEE;
	overflow:hidden;
	border-bottom: 1px dotted #1E1E1E;
}

table {
	position:absolute;
	margin-right:40px;
	list-style-type:none;
	right:0;
	margin-top: -92px;
	margin-right:60px;
	vertical-align: middle;
	/*display:inline;
	didn't work*/

}

tr {
	display:inline;
}

.tButton {
	padding:0px;
	margin:0;

	margin-right:10px;
	font-size: small;

	display: table-cell;
	width:60px;
	height:70px;
	text-decoration:none;
	color:black;
	border: 1px dotted black;
	text-align: center;
	vertical-align:middle;
	background-color: white;
	/*doesn't work*/



}



/*Right button area*/
#bArea {
	margin-top:140px;
	width: 275px;
	height: 400px;

	
	float: right;

	margin-right:50px;
	z-index:1;
	/*border:1px solid black;*/

}

.gridB {
	display: inline;
    margin:6px 6px 0 0;
    font-size: 45px;
    color:white;
	background-color:black;
	padding:0;
	border:none;

}

.controls {
	color:white;
	background-color:black;
	display:block;

    padding:0;
    margin:6px 0 0 0;

    font-size: 27px;

    cursor:pointer;
    border:none;
    text-align:left;
}



/*Grid area*/

#grid {
	position:relative;
	margin-top:40px;
	margin-left:150px;
	width: 800px;
	height: 800px;
	float:left;
	/*border:2px solid black;*/
}



.square {
	background-color:black;
	border: 1px solid #1E1E1E;
	float: left;
}

.running {
	background-color: white;
	color: black;
	border:3px solid black;
	/*color:#F7B89C;*/

}

.tRun {
	background-color:#1e1e1e;
	color:white;
	border:1px dotted white;

}

.gameRunning {
	background-color: white;
	color: black;
	border:3px solid black;
}

