


html { 
    height: 100%;
    margin:0px;
    background: url(../images/latest123.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#wrap {
	position:relative;
	height:100px;
	width:100%;
}

#topBlack {
	position:absolute;
	height:30px;
	width:100%;
	background-color:#1E1E1E;
}

#name {
	margin-left:70px;
}

#mail {
	position:relative;
	left:200px;
	top:-4px;
	display: inline;
	height:20px;
	width:20px;
}

#email {
	color:white;
	position: relative;
	display:inline-block;
	left:207px;
	top:-8px;
}

.rIcons {
	margin-top:6px;
	display:inline;
	float:right;
	height:20px;
	width:20px;
	margin-right:20px;
}

#topWhite {
	top: 30px;
	position:absolute;
	height: 70px;
	width: 100%;
	background-color:#EEEEEE;
}




#bArea {
	margin-top:140px;
	width: 200px;
	height: 400px;
	background-color:blue;
	
	float: right;

	margin-right:100px;
	z-index:1;
}

#grid {
	position:relative;
	margin-top:40px;
	margin-left:180px;
	width: 800px;
	height: 800px;
	float:left;

	background-color: black;
	z-index:1;
}